<h1>Create Ticket Types</h1>

<%= form_for @ticketType, url: event_ticket_types_path do |f| %>
  <% if @ticketType.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticketType.errors.count, "error") %> prohibited this ticket type from being saved:</h2>

      <ul>
      <% @ticketType.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% else %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :max_quantity %>
    <%= f.text_field :max_quantity, class: "form-control" %>
  </div>

  <div class="form-group">
        <%= f.submit 'Create Ticket Type' , class: 'btn btn-block btn-info' %>
  </div>

  <% end %>
<% end %>
</div>
